@model DestinyPCL.Objects.DestinyPlayer

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>DestinyPlayer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GamerTag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GamerTag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Grimoire)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Grimoire)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CharCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CharCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MembershipId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MembershipId)
        </dd>

    </dl>

    @foreach (var Item in Model.Characters)
    {
        <p>@Item.Class - @Item.Race - @Item.Gender @Model.Characters.IndexOf(Item)</p>
    }
    <table>
        <tr>
            <th></th>
            <th>Item Name</th>
            <th>On char</th>
            <th>Char Index</th>
            
        </tr>
       


        @foreach (var item in Model.Gear.OrderBy(g => g.characterIndex))
        {
           
            <tr>
                <td><img src="@item.Icon" alt="@item.itemName" /></td>
                <td>@item.itemName</td>
                <td>@Model.Characters[item.characterIndex].Class</td>
                <td>@item.characterIndex</td>
                
            </tr>


        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
