@model DestinyPCL.Objects.DestinyPlayer

@{
    ViewBag.Title = "Index";
}

<h2>@Model.GamerTag</h2>

<div>
    <div class="row">
        @foreach (var perso in Model.Characters)
        {
            <div class="col-lg-4">
                <img src="@perso.EmblemPath" alt="emblem" />@*<img src="@item.EmblemBackgroundPath"/>*@
                <h3>@perso.Class</h3>
                <h2>@perso.LightLevel - Level: @perso.BaseLevel</h2>
                <h4>@perso.Race @perso.Gender</h4>
            </div>
        }
    </div>
    <hr />
    <table>
        <tr>
            <th>Item</th>
            <th>Name</th>
            <th>Type</th>
            <th>On:</th>
            <th>Stats</th>
        </tr>
        @foreach (var item in Model.Gear)
        {
            <tr>
                <td><img src="@item.Icon" alt="item_icon" /></td>
                <td>@item.itemName</td>
                <td>@item.itemTypeName</td>
                <td>@item.BaseRawObject</td>
                <td>@item.primaryStats_Name: @item.primaryStats_value</td>
            </tr>
        }
    </table>
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
